@import "tailwindcss";

#navbtn{
    padding: 10px;
    padding-bottom: 20px;

}

#slide-in {
  animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
  0% { transform: translateX(-40px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

